In [1]:
import pandas

In [2]:
years = range(1980, 2011)
iowa = pandas.DataFrame()
for year in years:
            #create a path based on year
            path = './raw_data/iowa_%d.csv' % year
            #read one file from raw data
            frame = pandas.read_csv(path)
            #drop  first four columns
            frame.drop(frame.columns[[0,1,2,3]], axis=1, inplace=True)
            # add frame that we just read to the bottom of container
            iowa = iowa.append(frame)

In [3]:
iowa.shape

(11323, 1)

In [4]:
sums = pandas.DataFrame()
for row_num in range(15,iowa.shape[0]-15):
    single_sum = iowa[row_num:row_num+15].sum(axis=0)
    sums = sums.append(single_sum, ignore_index=True)

In [5]:
sums.shape

(11293, 1)

In [6]:
sums.head()

   Unnamed: 4
0    0.959486
1    0.447076
2    0.232786
3    0.232786
4    0.188976

In [7]:
some_zeros = pandas.read_csv('./raw_data/zeros.csv')

In [8]:
some_zeros.shape

(21, 1)

In [24]:
some_zeros.head()

   Unnamed: 4
0           0
1           0
2           0
3           0
4           0

In [12]:
res = sums.append(some_zeros, ignore_index=True)

In [13]:
res.shape

(11314, 1)

In [22]:
res.head()

   Unnamed: 4
0    0.959486
1    0.447076
2    0.232786
3    0.232786
4    0.188976

In [35]:
res_sorted = res.sort_values(['Unnamed: 4'], ascending=False)

In [36]:
res_sorted.head()

       Unnamed: 4
10362    8.202748
10361    8.069108
4914     7.644392
4913     7.146769
4918     7.049467